.label {
    padding-bottom: 5px;
}

.text {
    margin-bottom: 10px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 8px;
}

.message{
    color: #ff0000;
    padding: 10px 0;
}

.return-botton {
    margin-left: 25px;
    padding-bottom: 10px;
}

.grid-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*
    ----------------------------------------------------------
*/
.employed {
    width: 70%;
    padding: 20px 0 5px 10px;
    border: 1px solid #000;
}

.employed-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-email, .text-password, .text-rol {
    width: 95%;
}