body {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}

.content {
    width: 90%;
    margin: 0 auto;
    padding: 10px 5px;
    color: #fff;
}

.head {
    background-color: #071325;
    color: #fff;
    margin-bottom: 30px;
}

.section_title {
    font-size: 2rem;
    padding: 20px 50px;
    font-weight: bold;
}
